# Compiled
*.elc

# Packaging
.cask

elpa/*
places
backups/*
auto-save-list

# Say thank you to projectile for this
projectile-bookmarks.eld

tramp
bookmarks
ido.last
anaconda-mode
eshell

smex-items

SessionDesktop.el
bak
recentf

ede-projects.el
srecode-map.el

transient/*# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
